<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <a href="/users/new">Create New User</a>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Office</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.office.name}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                    <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
